.header {
  height: 8rem;
  border-bottom: 0.2rem solid $blue;
  font-size: 2rem;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2rem;
  
  a {
    text-decoration: none;
  }
}

.nav-list__item--active {
  font-weight: bold;
  color: $light-blue;
}