.background-overlay {
  background-color: black;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;

  &--visible {
    display: block;
  }
}

.cards {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cards__item {
  border: 0.2rem solid $blue;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.01);
  }

  &--not-found {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }

  &--opened {
    position: fixed;
    width: 50rem;
    top: 30%;
    left: calc(50% - 25rem);
    background-color: $white;
    z-index: 3;
    list-style: none;

    &:hover {
      transform: scale(1);
      cursor: auto;
    }

    .card__body,
    .card__title {
      -webkit-line-clamp: unset;
    }

    .card-tags {
      display: flex;
    }
  }
}

.card__close-btn {
  width: 3rem;
  height: 3rem;
  display: block;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.card__title {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.card__body {
  font-size: 1.6rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.card-tags {
  list-style: none;
  padding: 0;
  gap: 1rem;
  font-size: 1.2rem;
  display: none;
}

.card-tag__item {
  border: 0.1rem solid $blue;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: $blue;
  color: $white;
}

.card-reactions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-reactions__img {
  width: 3rem;
  height: 3rem;
}

.card-reactions__number {
  font-size: 2rem;
  font-weight: bold;
}