.cards {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.cards__item {
  border: 0.2rem solid $blue;
  border-radius: 1rem;
  padding: 1rem;

  &--not-found {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
}

.card__title {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0;
}

.card__body {
  font-size: 1.6rem;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.card-tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.card-tag__item {
  border: 0.1rem solid $blue;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: $blue;
  color: $white;
}

.card-reactions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-reactions__img {
  width: 3rem;
  height: 3rem;
}

.card-reactions__number {
  font-size: 2rem;
  font-weight: bold;
}