.form {
  border: 0.2rem solid $blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  border-radius: calc(1rem + 1.5rem);
  margin-bottom: 2rem;

  &__name-input,
  &__surname-input,
  &__date-input,
  &__residence-input {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
  }
}

.form__file-input {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: 'Select profile photo';
    display: inline-block;
    border: 0.1rem solid $blue;
    border-radius: 1rem;
    padding: 0.5rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 2rem;
  }

  &:active::before {
    background-color: $light-blue;
  }
}

.fullname-container, .date-and-residence-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.fullname-errors-container {
  display: none;

  &--visible {
    display: flex;
    // border: 0.1rem solid black;
  }
}

.name-error {
  visibility: hidden;
  width: 44%;
  color: red;
  font-weight: bold;

  &--visible {
    visibility: visible;
  }
}

.surname-error {
  visibility: hidden;
  color: red;
  font-weight: bold;

  &--visible {
    visibility: visible;
  }
}

.consent-heading {
  display: block;
  margin: 0 0 1rem;
  font-weight: bold;
}

.consent-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.consent-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    margin: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.sex-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.switcher {
  position: relative;
  display: inline-flex;
  width: 4rem;
  // height: 34px;
  justify-content: space-between;

  /* input {
    opacity: 0;
    width: 0;
    height: 0;
  } */
}

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-blue;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: $pink;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
} */

.form__submit-btn {
  display: block;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 0.1rem solid $light-blue;
  background-color: $light-blue;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}