.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 10rem;
    height: 10rem;
  }
  
}