.about-text {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.icons-container {
  display: flex;
  width: 100%;
  gap: 5rem;
  justify-content: center;

  a:hover {
    opacity: 0.5;
  }
}

.icons__rsschool {
  height: 6.4rem;
}